<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--add name="WEB_PHIMConnectionString" connectionString="Data Source=truyen.duyvo26.xyz,1433;Initial Catalog=WEB_PHIM;User ID=webphim;Password=123456789"
      providerName="System.Data.SqlClient" /--> 
   <add name="WEB_PHIMConnectionString" connectionString="Data Source=DUYVO26;Initial Catalog=WEB_PHIM;Integrated Security=True"
  providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>


    
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--  <httpRuntime targetFramework="4.5" /> -->
    <!-- cau hinh send html post:get max bytes-->
    <!-- ~ 2GB -->
    <httpRuntime executionTimeout ="3600" maxRequestLength="2147483647" requestValidationMode="2.0"/>
    
    <pages validateRequest="false"/>
    <customErrors mode="Off" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="404" />
    </customErrors>
    <!-- end cau hinh send html post:get  -->
  </system.web>
   <!-- den trang loi -->
  <system.webServer>

    <security>
      <requestFiltering>
        <!-- maxAllowedContentLength, for IIS, in bytes -->
        <!-- ~ 4GB -->
        <requestLimits maxAllowedContentLength="2147483647" ></requestLimits>
      </requestFiltering>
    </security>
    
      <httpErrors errorMode="Custom">
         <remove statusCode="404"/>
        <error statusCode="404" path="/404" responseMode="ExecuteURL"/>
      </httpErrors>

    <staticContent>
      

    <remove fileExtension=".mp4"/>
    <remove fileExtension=".ogv"/>
    <remove fileExtension=".m4v"/>
    <remove fileExtension=".webm"/>
      <remove fileExtension=".jpeg"/>
      <remove fileExtension=".jpg"/>
      <remove fileExtension=".gif"/>
      <remove fileExtension=".png"/>
      <remove fileExtension=".js"/>
      
      <mimeMap fileExtension=".js" mimeType="application/x-javascript" />
      <mimeMap fileExtension=".webm" mimeType="video/webm"/>
      <mimeMap fileExtension=".m4v" mimeType="video/m4v"/>
      <mimeMap fileExtension=".ogv" mimeType="video/ogg"/>      
      <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
      <mimeMap fileExtension=".jpeg" mimeType="image/jpeg"/>
      <mimeMap fileExtension=".jpg" mimeType="image/jpeg"/>
      <mimeMap fileExtension=".gif" mimeType="image/gif"/>
      <mimeMap fileExtension=".png" mimeType="image/png"/>
    
      
    </staticContent>
    
   </system.webServer>


  <!-- <system.webServer> <modules runAllManagedModulesForAllRequests="true" /> </system.webServer> -->



  
</configuration>